/* sidebar */
/* div[data-testid="stSidebarNav"],
div[data-testid="stSidebar"], 
div[data-testid="collapsedControl"]
{
    display: none;
} */

/* header */
/* header[data-testid="stHeader"] {
    display: none;
} */

/* page title */
h1 {
    text-align: center;
}

/* footer */
footer {
    display: none;
}

/* main container */
.block-container {
    padding-top: 20px;
    padding-bottom: 10px;
}
